footer {
	background-color: #146cda;
	padding-top: 2em;
	// padding-bottom: 2em;
	color: white;

	h3 {
		font-weight: 600;
		font-size: 16px;
		text-transform: uppercase;
		text-align: left;
		margin-bottom: 1.2em;
	}

	p {
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
	}

	.need-help {
		margin-top: 2em;

		@media (max-width: 991.98px) {
			margin-bottom: 2em;
		}

		i {
			font-size: 60px;
			margin-right: 0.1em;
		}

		p {
			&:nth-child(1) {
				font-weight: 400;
				text-transform: uppercase;
				font-size: 16px;
				margin-bottom: 0.4em;
			}

			&:nth-child(2) {
				font-weight: 600;
				text-transform: uppercase;
				font-size: 22px;
			}
		}
	}

	ul {
		list-style-type: none;
		padding: 0;

		li {
			&:not(:last-child) {
				margin-bottom: 0.5em;
			}

			a {
				color: white;
				text-decoration: none;
				transition: all 300ms ease-in-out;

				&:hover {
					color: white;
					padding-left: 10px;
					opacity: 0.8;
				}
			}
		}
	}

	form {
		margin-top: 1em;
		margin-bottom: 2em;

		.form-control {
			padding: 0.8em 0 0.8em 0.9em;
		}

		.newsletter-signup {
			text-transform: uppercase;
			font-weight: 700;
			padding-left: 3em;
			padding-right: 3em;
			background-color: black;
			color: white;

			&:hover {
				color: white;
			}
		}
	}

	.social-media-container {
		.social-media-icon {
			background-color: #247cea;
			color: white;
			height: 40px;
			width: 40px;
			padding: 0;
			border-radius: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 0.7em;
			transition: all 300ms ease-in-out;

			&:hover {
				background-color: white;
				color: #247cea;
			}
		}
	}

	.bottom-container {
		border-top: 1px solid #3b7de1;
		padding-top: 1em;
		// padding-bottom: 1em;

		@media (max-width: 1199.98px) {
			text-align: center;
		}

		p {
			text-align: right;

			@media (max-width: 1199.98px) {
				text-align: center;
			}
		}
	}
}
