main {
	&.home-page {
		h2 {
			position: relative;
			border-bottom: 2px solid #2064da;
			display: inline-block;
			padding-bottom: 15px;
			z-index: 4;
			font-size: 24px;
			color: #1d1d1d;
			font-weight: 600;
		}

		hr {
			margin-top: -1px;
			z-index: -1;
			height: 0.5px;
			opacity: 0.1;
		}

		.benefit-container {
			i {
				font-size: 4em;
				margin-right: 0.2em;
				color: #888888;
			}

			.benefit-body {
				h5 {
					font-size: 16px;
					font-weight: 600;
					color: #1d1d1d;
					margin-bottom: 0.3em;
				}

				p {
					font-size: 13px;
					font-weight: 400;
					color: #888888;
				}
			}
		}

		.popular-categories {
			.card-body {
				padding-top: 0;

				.card-title {
					color: #47494a;
					font-size: 16px;
					font-weight: 600;
					text-transform: capitalize;
				}

				ul {
					list-style-type: none;
					margin-bottom: 1.5em;
					margin-top: 1em;
					padding: 0;

					li {
						&:not(:last-child) {
							margin-bottom: 0.3em;
						}

						a {
							color: #888;
							text-decoration: none;
							font-size: 14px;
							font-weight: 400;
							text-transform: capitalize;
							transition: color 500ms ease-in-out;

							&:hover {
								color: #146cda;
							}
						}
					}
				}

				.view-all {
					text-transform: uppercase;
					background-color: #f5f5f5;
					font-size: 13px;
					font-weight: 400;
					transition: all 500ms ease-in-out;

					&:hover {
						background-color: #146cda;
						color: white;
					}
				}
			}
		}
	}

	&.cart-page {
		h1 {
			color: #1d1d1d;
			font-size: 24px;
			font-weight: 700;
		}

		.cart-item {
			border-bottom: 1px solid #ebebeb;
		}

		.product-name {
			margin-bottom: 0.8em;
			a {
				color: #1d1d1d;
				font-size: 14px;
				line-height: 20px;
				font-weight: 700;
				text-decoration: none;
				text-transform: capitalize;
			}
		}

		.price-block {
			margin-bottom: 0.5em;

			.new-price {
				color: #1d1d1d;
				font-weight: 600;
				font-size: 16px;
			}

			.old-price {
				color: #9b9b9b;
				font-weight: 400;
				font-size: 14px;
				text-decoration: line-through;
				display: inline-block;
				margin-left: 0.5em;
				margin-right: 0.5em;
			}

			.badge {
				font-size: 14px;
				font-weight: 400;
				padding: 8px 15px;
				border-radius: 0;
			}
		}

		.product-size {
			span {
				font-size: 14px;
				font-weight: 400;

				&:nth-child(1) {
					color: #1d1d1d;
				}

				&:nth-child(2) {
					color: #888888;
				}
			}
		}

		input {
			padding: 0.7em 0.4em;
		}

		.delete {
			color: black;
			transition: all 300ms ease-in-out;
			font-size: 25px;

			&:hover {
				color: #146cda;
			}
		}

		.cart-overview {
			.row {
				.col-6 {
					color: #1d1d1d;
					font-weight: 600;

					small {
						font-size: 13px;
					}

					&:nth-child(1) {
						font-size: 14px;
						text-transform: capitalize;
					}

					&:nth-child(2) {
						font-size: 16px;
					}
				}
			}
		}
	}

	&.checkout-page {
		h1 {
			color: #1d1d1d;
			font-size: 24px;
			font-weight: 700;
		}
		.forgot-password {
			text-decoration: none;
			color: #555;
			transition: all 300ms ease-in-out;

			&:hover {
				color: #146cda;
			}
		}
	}

	&.confirmation-page {
		h3 {
			color: #1d1d1d;
			font-size: 22px;
			font-weight: 700;
			text-transform: capitalize;
		}

		h4 {
			color: #1d1d1d;
			font-size: 18px;
			font-weight: 700;
			text-transform: capitalize;
			margin-top: 1.8em;
			margin-bottom: 0.5em;
		}

		p {
			color: #888888;
			font-size: 14px;
			font-weight: 400;
		}

		.order-items-container {
			.order-item {
				border-bottom: 1px solid #ebebeb;
				color: #888888;
				font-size: 14px;
				font-weight: 400;

				.product-total-price {
					@media (max-width: 767.98px) {
						font-weight: 700;
					}
				}
			}
		}

		.order-cost-summary,
		.order-details {
			.list-group-item {
				color: #888888;
				font-size: 14px;
				font-weight: 400;
			}
			.order-cost-summary-total {
				font-weight: 700;
			}
		}

		.order-details {
			margin-bottom: 2em;
		}
	}

	&.product-detail-page {
		h1 {
			color: #212529;
			line-height: 39px;
			font-size: 30px;
			font-weight: 700;
			margin-bottom: 0.6em;
		}

		.product-thumbnail {
			height: 60px;
			width: 60px;
			border: 1px solid #ebebeb;
			border-radius: 6px;
			overflow: hidden;
			transition: border 300ms ease-in-out;

			&:hover {
				border: 1px solid #146cda;
				cursor: pointer;
			}

			&:not(:last-child) {
				margin-right: 0.6em;
			}
		}

		.product-stats {
			margin-bottom: 0.6em;
			// font-size: 12px;

			.total-reviews {
				color: #969696;
				font-weight: 400;
			}

			.total-orders {
				color: #00b517;
			}
		}

		.price-block {
			color: #212529;
			font-size: 22.5px;
			font-weight: 600;
			margin-bottom: 0.6em;

			.with-vat {
				color: #969696;
				font-size: 15px;
				font-weight: 400;
			}
		}

		.product-details {
			width: 25em;
			border: none;
			color: #212529;
			font-size: 14px;
			margin-bottom: 2em;

			.list-group-item {
				padding: 0.2em 0;
				border: none;

				.col-6 {
					&:nth-child(1) {
						font-weight: 600;
					}
				}
			}
		}

		.cta-block {
			margin-bottom: 2em;

			.quantity-container {
				width: auto;
				margin-right: 0.7em;

				/* Chrome, Safari, Edge, Opera */
				input::-webkit-outer-spin-button,
				input::-webkit-inner-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}

				/* Firefox */
				input[type="number"] {
					-moz-appearance: textfield;
				}

				.quantity-field {
					text-align: center;
					max-width: 50px;
					font-size: 14px;
				}
			}

			.add-to-cart-btn {
				text-transform: capitalize;
				background-color: #00b517;
				color: white;
			}
		}

		.reviews-section {
			h3 {
				font-weight: 600;
				margin-bottom: 0.7em;
				text-transform: capitalize;
			}

			h4 {
				font-weight: 700;
				font-size: 16px;
				text-transform: uppercase;
			}

			.wr-btn {
				padding: 0.8em 2em;
				font-size: 16px;
				text-transform: capitalize;
			}

			.write-review {
				.post-btn {
					padding: 0.8em 3em;
					font-size: 16px;
					text-transform: capitalize;
				}

				label {
					color: grey;
					text-transform: capitalize;
				}

				textarea {
					min-height: 200px;
				}
			}

			.reviews-feed {
				.list-group-item {
					padding-top: 2.5em;
					padding-bottom: 2.5em;

					.reviewer-name {
						font-weight: 700;
						font-size: 18px;
						text-transform: capitalize;
						margin-bottom: 0.3em;

						.reviewer-status {
							font-weight: 400;
							font-size: 10px;
							margin-left: 0.6em;
						}
					}

					.review-title {
						font-weight: 700;
						font-size: 15px;
						text-transform: capitalize;
						margin-bottom: 0.3em;
					}

					.review-content {
						font-size: 14px;
					}

					.published-date {
						font-weight: 400;
						font-size: 10px;
					}
				}

				.review-nav {
					.page-item {
						&.active {
							color: white;
						}
						.page-link {
							border: 1px solid #146cda;
							transition: all 300ms ease-in-out;

							&:hover {
								background-color: #146cda;
								color: white;
							}
						}
					}
				}
			}
		}
	}

	&.login-page {
		.left-section {
			background: rgb(54, 144, 226);
			background: linear-gradient(
				45deg,
				rgba(54, 144, 226, 1) 35%,
				rgba(45, 102, 222, 1) 100%
			);

			.left-section-inner {
				text-align: center;
				color: white;
				max-width: 500px;

				h2 {
					font-size: 24px;
					font-weight: 700;
					text-transform: capitalize;
					margin-bottom: 0.9em;
				}

				p {
					line-height: 25px;
					margin-bottom: 1em;
				}

				.signup-btn {
					border: 1px solid white;
					color: white;
					padding: 0.8em 1.5em;
					text-transform: uppercase;
					transition: all 300ms ease-in-out;

					&:hover {
						background-color: white;
						color: #146cda;
					}
				}
			}
		}

		.right-section {
			padding: 4em;

			.right-section-inner {
				h2 {
					font-size: 29px;
					font-weight: 700;
					text-transform: capitalize;
					margin-bottom: 0.9em;
					line-height: 44px;
				}

				input[type="text"],
				input[type="password"] {
					border-top: none;
					border-left: none;
					border-right: none;
					border-radius: 0;

					&:focus {
						box-shadow: none;
					}
				}

				.signin-btn {
					border: 1px solid #3670e2;
					background-color: #3670e2;
					color: white;
					padding: 0.8em 1.5em;
					text-transform: uppercase;
					transition: all 300ms ease-in-out;

					&:hover {
						background-color: #2d66de;
						color: white;
					}
				}
			}
		}
	}
}
