.btn-close-modal {
	color: white;
	background-color: transparent;
	padding: 0;
	font-size: 1em;
	text-decoration: none;

	&:hover {
		color: white;
	}

	&:focus {
		box-shadow: none;
	}
}

.cart-item-title {
	color: #1d1d1d;
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 0.8em;
	text-transform: capitalize;
}

.cart-item-price,
.cart-item-size,
.cart-item-quantity {
	color: #1d1d1d;
	font-size: 14px;
}

.cart-item-size {
	margin-bottom: 0.8em;
}

.cart-left {
	@media (min-width: 992px) {
		border-right: 1px solid #ebebeb;
	}
}

.cart-right {
	color: #1d1d1d;

	@media (min-width: 992px) {
		padding-left: 1.5em;
	}

	div {
		&:not(:last-child) {
			margin-bottom: 0.2em;
		}
	}

	.next-step-block {
		margin-top: 1em;
	}
}
